@use '../../../styles.scss' as *;

.delete-account-container {
  hr {
    margin: 20px 0px;
  }

  h3 {
    color: $red-primary;
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
    color: $red-primary;
    border: 1px solid $red-primary;
  }
}
