// variables
$background-color: #fafbfd;
$purple-primary: #7869ff;
$purple-dark: #6150f3;
$red-primary: #f54848;
$green-primary: #22cc97;
$border-primary: #eadfdf;
$yellow-primary: #ffcc00;

$purple-text: #5a47ff;
$table-header: #f9faff;
$gray-placeholder: #c6c6c6;
$gray-icon: #8f8f8f;
$text-muted: #9ca3af;

$success-text: #006205;
$success-bg: #c2ffaf;
$blue-tag-text: #5c91b3;
$blue-tag-bg: #daeaf7;
$error-text: #ca1d20;
$error-bg: #ffc6c6;
$warning-text: #b66a0e;
$warning-bg: #ffe9b1;

$max-width: 1200px;

// placeholder mixin
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

// global styles
* {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

p,
span,
a,
li,
label,
input,
textarea,
button {
  font-size: inherit;
}

.main {
  min-height: 100vh;
  background-color: $background-color;
}

.btn-primary {
  color: white;
  background-color: $purple-primary;
  border: 1px solid $purple-primary;
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: $purple-dark;
  }
}

.btn-secondary {
  color: $purple-primary;
  background-color: white;
  border: 1px solid $purple-primary;
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

.text-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

input,
textarea,
select {
  border: 1px solid $gray-placeholder;
  border-radius: 3px;
  padding: 8px 15px;
  display: block;
  width: 100%;

  @include placeholder {
    color: $gray-placeholder;
    font-weight: 200;
  }
}

input {
  padding: 10px 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

input,
button,
textarea,
select {
  &:focus {
    outline: none;
  }
}

p.error {
  margin-top: 5px;
  color: $red-primary;
}

label.required::after {
  content: ' *';
  color: $red-primary;
}

.nav-link {
  color: $purple-text;
  text-decoration: none;
}

.text-muted {
  color: $text-muted;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

.stylized-text {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  color: $purple-text;
}

svg {
  margin-top: 3px;
  scale: (0.6);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 550px;
  }
}

hr {
  border: 0.5px solid $border-primary;
}
