@use '../../../styles.scss' as *;

.tag-wrapper {
  padding: 2px 10px;
  border-radius: 7px;
  min-width: 42px;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  &.success {
    background-color: $success-bg;
    color: $success-text;
  }

  &.info {
    background-color: $blue-tag-bg;
    color: $blue-tag-text;
  }

  &.error {
    background-color: $error-bg;
    color: $error-text;
  }

  &.warning {
    background-color: $warning-bg;
    color: $warning-text;
  }
}
