<div class="job-search-container">
  <app-job-filter (searchEventEmitter)="searchJobs($event)"></app-job-filter>

  <div class="listing-wrapper">
    <strong>Hello, {{ user?.applicant?.firstName }}</strong>
    <h2>Let's find you the <span class="stylized-text">perfect job...</span></h2>

    <div class="job-list">
      @for (item of jobs; track item) {
        <app-job-entry [jobEntry]="item"></app-job-entry>
      }

      @if (!jobs.length) {
        <div class="no-result">
          <app-no-data></app-no-data>
        </div>
      }
    </div>
  </div>
</div>
