<div class="skill-container">
  <hr />
  <div class="section-title">
    <h3>Skills</h3>
    <button class="add-exp-btn" (click)="openModal()" )>
      <app-icon-add />
    </button>
  </div>

  <div class="skill-tag-wrapper">
    @for (item of userProfile?.applicant?.skills; track $index) {
      <span class="skill-tag" (click)="openModal(item)">
        <app-tag [title]="item.skill" [type]="'Info'" />
      </span>
    }
  </div>

  <app-add-skill-modal
    *ngIf="modalOpen"
    [skill]="editingSkill"
    (closeModalEmitter)="closeModal()"
  />
</div>
