node_modules
# Keep environment variables out of version control
.env

/generated/prisma

dev.db

/src/registry/profile/*
!/src/registry/profile/

/src/registry/resume/*
!/src/registry/resume/

uploads/
