@use '../../../styles.scss' as *;

.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .register-form {
    background-color: white;
    padding: 3rem;
    width: 600px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid $border-primary;

    .welcome-text {
      text-align: center;
      font-size: 18px;
      font-weight: 700;

      span {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 800;
        color: $purple-text;
      }
    }

    form {
      margin-top: 30px;

      .input-group {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        div {
          width: 48%;
        }
      }
    }

    .btn-primary {
      margin-top: 20px;
      display: block;
      width: 100%;
    }

    .login-text {
      margin-top: 8px;

      a {
        font-weight: 500;
      }
    }
  }
}
