@use '../../../styles.scss' as *;

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    background-color: white;
    padding: 3rem;
    width: 500px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid $border-primary;

    .welcome-text {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }

    form {
      margin-top: 50px;

      .forgot-pw-link {
        display: block;
        text-align: right;
        padding-top: 10px;
      }
    }

    .btn-primary {
      margin-top: 20px;
      display: block;
      width: 100%;
    }

    .login-text {
      margin-top: 8px;

      a {
        font-weight: 500;
      }
    }
  }
}
