<div class="filter-container">
  <form [formGroup]="form">
    <div>
      <label for="job-title">Job Title</label>
      <input id="job-title" formControlName="search" placeholder="Software Engineer" />
    </div>

    <div>
      <label for="location">Job Location</label>
      <input id="location" formControlName="location" placeholder="Hildesheim" />
    </div>

    <div class="input-group">
      <div class="input">
        <label for="salary-from">Salary From</label>
        <input type="number" id="salary-from" formControlName="salaryFrom" placeholder="10000" />
      </div>

      <p class="text-muted">-</p>

      <div class="input">
        <label for="salary-to">Salary To</label>
        <input type="number" id="salary-to" formControlName="salaryTo" placeholder="12000" />
      </div>
    </div>
    <p *ngIf="form.errors?.['invalidSalary']" class="error">
      Starting salary cannot be more than max salary
    </p>

    <div>
      <label for="arrangement">Work Arrangement</label>
      <select id="arrangement" formControlName="arrangement">
        <option value="{{ null }}">-</option>
        <option value="REMOTE">Remote</option>
        <option value="ONSITE">Onsite</option>
        <option value="HYBRID">Hybrid</option>
      </select>
    </div>

    <div>
      <label for="role">Work Type</label>
      <select id="role" formControlName="workType">
        <option value="{{ null }}">-</option>
        <option value="PART_TIME">Part Time</option>
        <option value="FULL_TIME">Full Time</option>
      </select>
    </div>

    <button type="submit" class="btn-primary" (click)="search()">Search</button>
  </form>
</div>
