@use '../../../styles.scss' as *;

.filter-container {
  width: 330px;
  border: 1px solid $border-primary;
  border-radius: 14px;
  padding: 20px 15px;
  background-color: white;

  label {
    color: $gray-icon;
    font-weight: 300;
    font-size: 10px;
  }

  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      width: 44%;
    }

    p {
      margin-top: 35px;
    }
  }

  .btn-primary {
    width: 100%;
    margin-top: 20px;
  }
}
