<div class="job-details-container">
  <div class="job-header">
    <button class="back-icon" (click)="goBack()">
      <app-icon-back />
    </button>
    <h3 class="job-title">{{ job?.title }}</h3>
    <app-tag
      class="job-status"
      [title]="job?.status?.toLowerCase() || ''"
      [type]="job?.status === 'OPEN' ? 'Success' : 'Error'"
    ></app-tag>
  </div>

  <div>
    <span class="text-muted posted-date">Posted on: {{ job?.createdAt | date: 'mediumDate' }}</span>
  </div>

  <div class="job-details">
    <p>
      {{ job?.summary }}
    </p>
  </div>
</div>
