<div class="navbar-container" *ngIf="isAuth">
  <nav>
    <img src="navbar-logo.svg" />

    <div class="nav-options">
      @for (item of user?.role === 'RECRUITER' ? recruiterRoutes : applicantRoutes; track item) {
        <a routerLink="/{{ item.link }}">{{ item.name }}</a>
      }
      <a routerLink="/profile">Profile</a>
      <button class="log-out" (click)="logout()">Log Out</button>

      <app-profile-picture [profile]="user?.applicant || user?.recruiter" [profilePicture]="user?.profilePicture" />
    </div>
  </nav>
</div>
