
<!--<pre>{{ application | json }}</pre>
<div class="job-application-card">
  <div class="header">
    <div class="application-info">
      <a class="job-title" [routerLink]="['/job', application?.job?.id || '']">
        {{ application?.job?.title }}
      </a>

      <app-tag
        [type]="application?.status === 'ACCEPTED' ? 'Success' : application?.status === 'PENDING' ? 'Warning' : 'Error'"
        [title]="application?.status ? application.status.toLowerCase() : ''">
      </app-tag>
    </div>
  </div>

  <div class="info">
    <p class="text-muted applied-date">{{ formattedDate }}</p>
    <p class="company-name">{{ application?.job?.companyName }}</p>
  </div>

  <hr />

  <p class="summary">{{ application?.job?.summary }}</p>
</div>-->
<div class="job-application-card">
  <div class="header">
    <div class="application-info">
      <a class="job-title" [routerLink]="['/job', application?.jobPosting?.id || '']">
        {{ application?.jobPosting?.title }}
      </a>

      <app-tag
        [type]="application?.applicationStatus === 'APPLIED' ? 'Success' : 'Error'"
        [title]="application?.applicationStatus?.toLowerCase() || ''">
      </app-tag>
    </div>
  </div>

  <!--<div class="info">
    <p class="text-muted applied-date">{{ formattedDate }}</p>
    <p class="company-name">{{ application?.jobPosting?.postedBy?.companyName }}</p>
  </div>

  <hr />-->
  <div class="meta">
    <p class="applied-date">Applied on {{ formattedDate }}</p>
    <span class="dot"></span>
    <p class="company-name">{{ application?.jobPosting?.postedBy?.companyName }}</p>
    <span class="dot"></span>
    <p class="location">{{ application?.jobPosting?.location }}</p>
  </div>

  <hr />


  <p class="summary">{{ application?.jobPosting?.summary }}</p>
</div>