<div class="job-application-card">
  <div class="header">
    <div class="application-info">
      <a class="job-title" [routerLink]="['/job', application?.jobPosting?.id || '']">
        {{ application?.jobPosting?.title }}
      </a>

      <app-tag
        class="application-status"
        [title]="application?.applicationStatus?.toLowerCase() || ''"
        [type]="
          application?.applicationStatus === 'APPLIED'
            ? 'Info'
            : application?.applicationStatus === 'WITHDRAWN' ||
                application?.applicationStatus === 'REJECTED'
              ? 'Error'
              : 'Success'
        "
      >
      </app-tag>
    </div>
  </div>

  <div class="meta">
    <p class="applied-date">Applied on {{ formattedDate }}</p>
    <span class="dot"></span>
    <p class="company-name">{{ application?.jobPosting?.postedBy?.companyName }}</p>
    <span class="dot"></span>
  </div>

  <hr />

  <p class="summary">{{ application?.jobPosting?.summary }}</p>
</div>
